body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


.project-content {
    width: 50%;
}

.project-info h3:hover {
    background-color: #A0C878;
    cursor: crosshair;
}

.project-card {
    background-color: #6F826A;
    border: 2px inset #cbd3c3;
    border: 2px outset #c0e19f;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
}

.project-card:hover {
    background: #2f3b30;
}

.card-head {
    color: #A0C878;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card span {
    background-color: #67AE6E;
    color: #18230F;
    margin-right: 7px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 2px;
    font-size: .85rem;
}

.project-card span:hover {
    cursor: cell;
}

.project-card img {
    height: 25px;
    border-radius: 50%;
    /* padding-left: 1px; */
    border: 1px solid #A0C878;
    transition: .3s ease-in-out;
}

.project-card img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.github {
    height: 20px;
    fill: black;
}

.github:hover {
    background: black;
    transform: scale(1.2);
}

@media (max-width :790px) {
    .project-content {
        width:90%;
    }

    .nav-link {
        width:fit-content;
        font-size: 13px;
    }

    .project-text {
        font-size: 13px;
        margin-top: 4px;
    }
}