body {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.stack-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.stack-head {
    padding: 7px 5px;
}

.stack-head:hover {
    /* cursor: crosshair; */
    background: #A0C878;
}


.stack-info p {
    margin-top: 0;
}

.stack-info h4 {
    color: #A0C878;
    width: fit-content;
    padding: 5px 2px;
    margin-bottom: 10px;
    /* border-bottom: 2px solid #fff; */
}

.stack-info h4:hover {
    background: #A0C878;
    color: white;
}

.stack-list > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stack-list > div > p {
    background: #2C2C2C;
    color: white;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 10px;
    border: 1.4px solid #e7efc7;
    font-size: 0.85rem;
    flex: 0 1 31%; /* Responsive width */
    text-align: center;
}

.resume-div {
    height: fit-content;
    background-color: #1f1f1f;
    transition: background-color 0.3s ease;
}

.resume-div:hover {
    background-color: #2C2C2C;
}

@media (max-width :790px) {
    .stack-content {
        width: 90%;
        padding-bottom: 20px;
    }

    .nav-link {
        width:fit-content;
        font-size: 13px;
    }

    .stack-list > div {
        gap: 6px;
    }

    .stack-list > div > p {
        flex: 1 1 45%; /* stack 2 items per row */
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    .resume-div a {
        font-size: 12px !important;
    } 
    .stack-head {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .stack-content {
        /* height: 110vh; */
        width: 95vw;
        margin-bottom: 50px;
    }

    .stack-list > div > p {
        padding: 7px 0;
        flex: 1 1 100%; /* stack one per row on very small screens */
    }

    .stack-list > div > p.nextjs {
        flex: 1 1 100%;  /* Take full width on small screens */
    }
}
